<br />
<br />
<div class='card border-dark mb-3' style='max-width: 90%;'>
  <div class='card-header bg-transparent border-dark'><h1>Nueva actuación</h1></div>
  <div class='card-body text-dark'>
    <h5 class='card-title'>Descripción</h5>
    <p class='card-text'><form
        id='nueva_actuacion'
        action='/incidencias/actuaciones/{{incidenciaID}}/new'
        method='post'
        enctype='multipart/form-data'
      >
        <div class='row'>
          <div class='col-12'>
            <textarea
              type='textarea'
              rows='10'
              name='descripcion'
              class='form-control'
              required
              autofocus
            >{{uDatos.descripcion}}</textarea>
          </div>
        </div>
        <br />
        <div class='row'>
          <div class='col-12'>
            <input
              type='file'
              class='form-control-file'
              name='file'
              id='file'
              accept='image/*'
            />
          </div>
        </div>
        <br />
        <div class='row'>
          <div class='col-12'>
            <label for='esSolucion'><input
                type='checkbox'
                name='solucion'
                id='esSolucion'
              />
              Con esta actuación se ha solucionado el problema</label>
          </div>
        </div>
      </form></p>
  </div>
  <div class='card-footer bg-transparent border-dark'>
    <button type='submit' form='nueva_actuacion' class='btn btn-success'>
      Aceptar
    </button>
    <button
      class='btn btn-danger'
      onclick='window.location = `/incidencias/{{incidenciaID}}`'
    >
      Cancelar
    </button>
  </div>
</div>
